<!--<a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a>-->
<hia-app-nav></hia-app-nav>
<!--<router-outlet></router-outlet>-->
<!--<h1>Hello devs !</h1>-->
<!--<hia-rooms></hia-rooms>-->

<!--<hia-container>
  <hia-rooms></hia-rooms>
  <hia-employee></hia-employee>
  <h1>This is from our ng-content</h1>
</hia-container>-->

<!--<div #name></div>-->
<!--
<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
      <h1>Welcome dear user nothing to see sorry :( </h1>
    </div>
  <div *ngSwitchCase="'Admin'">
     <h1> Welcome dear Admin</h1>
      <hia-rooms></hia-rooms>
    </div>
  <div *ngSwitchDefault>
    Ma3ndichi autorizi
  </div>
</div>
-->

<!--<div>
  <ng-template #user></ng-template>
</div>-->
