<!-- interpolation -->
<!--<h1>Welcome to {{ hotelName }}</h1>-->
<hia-header></hia-header>
<!--<hia-header></hia-header>
<hia-header></hia-header>-->

<!--{{room$ | async | json}}-->

<div [hidden]="hideRooms">
  Number of rooms :
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'cyan' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
  <!-- it means document.getElementById('numberOfRooms').innerText=numberOfRooms -->
</div>

{{ rooms?.availableRooms ?? "No rooms" }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button routerLink="rooms/add">Add room</button>
</div>
<!--{{ roomsLists | json }} its used only in dev for debugging we dont use it in prod -->
<h1>
  <!-- {{getError$| async}}-->
  Number of rooms is : {{roomsCount$ | async}}
</h1>
<div *ngIf="room$ | async as rooms">
  <hia-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></hia-rooms-list>
</div>
<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Update Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h2>{{ totalBytes }} loaded !</h2>

<router-outlet></router-outlet>
